body{
    height: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

div{
    color: blanchedalmond;
    background-color: black;
    font-family: 'Fraunces', serif;
    font-family: 'Noto Sans JP', sans-serif;
}

h3{
    width: auto;
    font-weight: 100px;
    color: blanchedalmond;
    background-color: black;
    padding-left: 400px;
    font-family: 'Fraunces', serif;
    font-family: 'Noto Sans JP', sans-serif;
}

h4{
    color: black;
    /*font-family: Lobster;*/
    font-family: 'Fraunces', serif;
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    justify-self: start;
    align-self: center;
    width: 500px;
    height: 250px;
}

p{
    color: black;
    font-family: 'Fraunces', serif;
    font-family: 'Noto Sans JP', sans-serif;
}
